@model WikiTechAPI.Models.Don

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Don</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantDon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantDon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageDon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageDon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDon">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
