@using Microsoft.AspNetCore.Identity
@using WikiTechWebApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="Articles" href="@Url.Action("Index", "Articles", new { area = "Articles" }) title="Articles">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="ProposerArticle" href="@Url.Action("Index", "PropositionArticle", new { area = "PropositionArticle" }) title="ProposerArticle">Proposez !</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="PropositionArticle" asp-action="Approbation">Approbation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Articles" asp-action="AllArticle">adminArticle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Abonnements" asp-action="Index">Abonnement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Dons" asp-action="Index">Don</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Factures" asp-action="Index">Mes Factures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Dons" asp-action="MesDons">Mes Dons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Dons" asp-action="Donateurs">Donateurs</a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" asp-controller="Home" asp-action="Contact">contact</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>





    }
    else
    {

        <li class="nav-item">
            <a class="nav-link text-white" id="Articles" href="@Url.Action("Index", "Articles", new { area = "Articles" }) title="Articles">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">s'inscrire</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" asp-controller="Home" asp-action="Contact">contact</a>
        </li>
    }
</ul>
