@*
    //Auteur    : Loris habegger
    //Date      : 02.05.2021
    //Fichier   : Details.chtml (affichage de l'article)
    //Perso     : mise en page, récupération du nom des auteurs () modifier la methode dans l'API, controle de qualité ou pas, gestion des droits

*@

@model WikiTechAPI.Models.Article
@using Microsoft.AspNetCore.Identity
@using WikiTechWebApp.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (Model.IsqualityArticle == true)
            {

                <p> de qualité + logger</p> 
            }
            else
            {

                <p> pas pas de qualité + logger</p>
            }

        }
        else
        {
            @Html.DisplayFor(model => model.IsqualityArticle)
            <p> pas logger</p>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitreArticle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitreArticle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionArticle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionArticle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TextArticle)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.TextArticle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatepublicationArticle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatepublicationArticle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsactiveArticle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsactiveArticle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsqualityArticle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsqualityArticle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.PrenomAspnetuser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSectionNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSectionNavigation.NomSection)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdArticle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>



</script>