@*
    //Auteur    : Loris habegger
    //Date      : 02.05.2021
    //Fichier   : Details.chtml (affichage de l'article)
    //Perso     : controle de qualité ou pas, gestion des droits

*@

@model WikiTechAPI.Models.Article
@using Microsoft.AspNetCore.Identity
@using WikiTechWebApp.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ ViewData["Title"] = "Details"; }


<body>
    @if (Model.IsqualityArticle == true)
    {
        <p> C'est un article de qualité, vous devez être abonné pour le voir. Cette fonctionnalité est en cours de développement !</p>
    }
    else
    {
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Post content-->
                <div class="col-lg-8">
                    <!-- Title-->
                    <h1 class="mt-4">@Html.DisplayFor(model => model.TitreArticle)</h1>
                    <!-- Author-->
                    <p class="lead">
                        by
                        <a href="#!">@Html.DisplayFor(model => model.IdNavigation.PrenomAspnetuser)</a>
                    </p>
                    <hr />
                    <!-- Date and time-->
                    <p>Posted on @Html.DisplayFor(model => model.DatepublicationArticle)</p>
                    <hr />
                    <!-- Preview image
                    <img class="img-fluid rounded" src="https://via.placeholder.com/900x300" alt="..." />
                    <hr />-->
                    <!-- Post content-->
                    <p class="lead">@Html.DisplayFor(model => model.DescriptionArticle)</p>
                    <p>@Html.Raw(Model.TextArticle)</p>
                    <hr />

                </div>
                <!-- Sidebar widgets column-->
                <div class="col-md-4">
                    <!-- Categories widget-->
                    <div class="card my-4">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0" id="tags">
                                        @foreach (var item in Model.Referencer)
                                        {
                                                <script type="text/javascript">

                                            getTags(@Html.Raw(item.IdTag));

                                            function getTags(id) {
                                                $.ajax(
                                                    {
                                                        url: "http://localhost:59601/Api/Tags/" + id,
                                                        type: "GET",
                                                        dataType: "JSON",
                                                        contentType: "application/json",
                                                        success: function (data) {
                                                            createTagSelect(data);
                                                        }
                                                    });
                                            }

                                                </script>
                                            }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     }
</body>

<script>

    function createTagSelect(data) {
        var select = $("#tags");
            console.log(data.nomTag + data.idTag);
        var element = "<li><a href=\"tags/" + data.idTag + "\">" + data.nomTag + "</a></li>";
            select.append(element);
    }



</script>