
@model IEnumerable<WikiTechAPI.Models.Article>

@{
    ViewData["Title"] = "all article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Liste des articles</h1>
<form asp-action="Indexing" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-primary" /> |
            <a class="btn btn-outline-danger" asp-action="Indexing">Clear</a>
        </p>
    </div>
</form>
<table>
    <thead>
        <tr>
            <th>
                ID article
            </th>
            <th>
                <a asp-action="Indexing" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.TitreArticle)</a>
            </th>
            <th>
                auteur article
            </th>
            <th>
                <a asp-action="Indexing" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.DatepublicationArticle)</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdArticle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitreArticle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.PrenomAspnetuser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatepublicationArticle)
                </td>
            </tr>
        }
    </tbody>
</table>

@ViewData["nbArtTotal"]
@ViewData["currentPage"]

<a class="btn btn-outline-dark" id="Previous"> Previous</a>
<a class="btn btn-outline-dark" id="Next"> Next</a>

@*<input id="Button1" type="button" value="button" />*@

<script>

    $('#Next').click(function () {

        location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=@ViewData["CurrentFilter"]";
    });

    $('#Previous').click(function () {

        location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]-1)&&searchString=@ViewData["CurrentFilter"]";
});

</script>
