
@model IEnumerable<WikiTechAPI.Models.Article>

@{
    ViewData["Title"] = "all article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Liste des articles</h1>
<form asp-action="Indexing" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-primary" /> |
            <a class="btn btn-outline-danger" asp-action="Indexing">Clear</a>
        </p>

        <select id="sorting">
            <option value="az" selected>atoz</option>
            <option value="za">ztoa</option>
            <option value="dateasc">dasc</option>
            <option value="datedesc">desc</option>
        </select>
        <a class="btn btn-outline-primary" id="appySorting"> appySorting</a>
    </div>
</form>
<table>
    <thead>
        <tr>
            <th>
                ID article
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitreArticle)
            </th>
            <th>
                auteur article
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatepublicationArticle)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdArticle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitreArticle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.PrenomAspnetuser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatepublicationArticle)
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
Nb d'article    : @ViewData["nbArtTotal"]
Filtre actuel   : @ViewData["sortorder"]


<a class="btn btn-outline-dark" id="Previous"> Previous</a>
<a class="btn btn-outline-dark" id="Next"> Next</a>

@*<input id="Button1" type="button" value="button" />*@

<script>

    $('#Next').click(function () {
        var e = document.getElementById("sorting");
        var strUser = e.options[e.selectedIndex].text;

        location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + strUser;
    });

    $('#Previous').click(function () {
        var e = document.getElementById("sorting");
        var strUser = e.options[e.selectedIndex].text;

        location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]-1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + strUser;
    });
    $('#appySorting').click(function () {

        var e = document.getElementById("sorting");
        var strUser = e.options[e.selectedIndex].text;

        location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]-1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + strUser;
});

</script>
