
@model IEnumerable<WikiTechAPI.Models.Article>

@{
    ViewData["Title"] = "all article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Liste des articles</h1>
<form asp-action="Indexing" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" id="SearchString" value="@ViewData["CurrentFilter"]" />
            @*<input type="submit" value="Search" class="btn btn-outline-primary" /> |*@
            <a class="btn btn-outline-primary" id="searching"> search</a>
            <a class="btn btn-outline-danger" asp-action="Indexing">Clear search</a>
        </p>

        <select id="sorting">
            <option value="az">atoz</option>
            <option value="za">ztoa</option>
            <option value="dateasc">dasc</option>
            <option value="datedesc">desc</option>
        </select>

        <input type="hidden" id="hiddensorting" value="@ViewData["sortorder"]">
        <input type="hidden" id="idTaggin" value="@ViewData["currentTag"]">

        <a class="btn btn-outline-primary" id="appySorting"> appySorting</a>
    </div>
</form>
<table>
    <thead>
        <tr>
            <th>
                ID article
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitreArticle)
            </th>
            <th>
                auteur article
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatepublicationArticle)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdArticle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitreArticle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.PrenomAspnetuser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatepublicationArticle)
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
Nb d'article    : @ViewData["nbArtTotal"]
Filtre actuel   : @ViewData["sortorder"]


<a class="btn btn-outline-dark" id="Previous"> Previous</a>
<a class="btn btn-outline-dark" id="Next"> Next</a>

<a onclick="tagger('1')"> test</a>


<div>
    <hr>
    <div class="list-group list-group">

        <h4 class="" id="sections">Catégorie</h4>
        <!--<a href="#" class="list-group-item"><span class="badge">14</span> Upcoming Sessions</a>-->

        <hr class="">
        <h4 class="" id="tags">Tags (all) à devenir TOP 10</h4>
        <!--<a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>-->

    </div>
</div>


@*<input id="Button1" type="button" value="button" />*@

<script>

    $(document).ready(function () {
        getTags();
    }
    )

    function getTags() {
        $.ajax(
            {
                url: "http://localhost:59601/Api/Tags/",
                type: "GET",
                dataType: "JSON",
                contentType: "application/json",
                headers: { "ApiKey": "61c08ad1-0823-4c38-9853-700675e3c8fc" },
                success: function (data) {
                    console.log(data);
                    createTagSelect(data);
                }
            });
    }

    function createTagSelect(data) {
        var select = $("#tags");

        $.each(data, function (key, value) {
            console.log(value);
            var nbarticle = getnbarticlebytag(value.idTag);
            console.log(value.idTag + " : " + nbarticle);
            var element = "<a class=\"list-group-item\" onclick=\"tagger('" + value.idTag + "')\"><span class=\"badge\">nb</span>" + value.nomTag + nbarticle + "</a>";
            select.append(element);
        })
    }

    async function getnbarticlebytag(id) {
        $.ajax(
            {
                url: "http://localhost:59601/Api/Referencers/nbarticlebytag/" + id,
                type: "GET",
                dataType: "JSON",
                contentType: "application/json",
                headers: { "ApiKey": "61c08ad1-0823-4c38-9853-700675e3c8fc" },
                success: function (data) {
                    return (data);
                }
            });
    }


    function tagger(id) {
        var hidden = document.getElementById("hiddensorting").value;
        var selected = document.getElementById("sorting");
        var selectedstr = selected.options[selected.selectedIndex].text;

        var idTag = document.getElementById("idTaggin").value;

        if (selectedstr == hidden) {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + selectedstr + "&&idTag=" + id;
        } else
        {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + hidden + "&&idTag=" + id;
        }

    }

    $('#Next').click(function () {
        var hidden = document.getElementById("hiddensorting").value;
        var selected = document.getElementById("sorting");
        var selectedstr = selected.options[selected.selectedIndex].text;

        var idTag = document.getElementById("idTaggin").value;

        if (selectedstr == hidden) {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + selectedstr + "&&idTag=" + idTag;
        } else
        {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + hidden + "&&idTag=" + idTag;
        }
    });

    $('#Previous').click(function () {
        var hidden = document.getElementById("hiddensorting").value;
        var selected = document.getElementById("sorting");
        var selectedstr = selected.options[selected.selectedIndex].text;

        var idTag = document.getElementById("idTaggin").value;

        if (selectedstr == hidden) {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]-1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + selectedstr + "&&idTag=" + idTag;
        } else
        {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]-1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + hidden + "&&idTag=" + idTag;
        }
    });
    $('#appySorting').click(function () {

        var hidden = document.getElementById("hiddensorting").value;
        var selected = document.getElementById("sorting");
        var selectedstr = selected.options[selected.selectedIndex].text;

        var idTag = document.getElementById("idTaggin").value;

        if (selectedstr != hidden) {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + selectedstr + "&&idTag=" + idTag;
        } else
        {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=@ViewData["CurrentFilter"]&&sortorder=" + hidden + "&&idTag=" + idTag;
        }
    });

    $('#searching').click(function () {

        var hidden = document.getElementById("hiddensorting").value;
        var selected = document.getElementById("sorting");
        var selectedstr = selected.options[selected.selectedIndex].text;

        var idTag = document.getElementById("idTaggin").value;

        var search = document.getElementById("SearchString").value;

        if (selectedstr != hidden) {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=" + search + "&&sortorder=" + selectedstr + "&&idTag=" + idTag;
        } else
        {
            location.href = "/Articles/Indexing?currentPage=@((int)ViewData["currentPage"]+1)&&searchString=" + search + "&&sortorder=" + hidden + "&&idTag=" + idTag;
        }
});

</script>
