@model WikiTechAPI.Models.Facture

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Facture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantFacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantFacture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFacture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitreFacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitreFacture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFacture">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
