@using Microsoft.Extensions.Options
@model IEnumerable<WikiTechAPI.Models.Abonnement>
@inject IOptions<Stripe.Data.StripeSettings> Stripe

@{
    ViewData["Title"] = "Nos Abonnement";
}

<h1>Nos Abonnements</h1>

@if (ViewBag.idAbonnement == 3)
{
    <h2>Vous possèdez déjà l'abonnement premium.</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomAbonnement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrixAbonnement)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (ViewBag.expiration == null || ViewBag.expiration == false)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomAbonnement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrixAbonnement)
                        </td>
                        <td>
                            <a asp-action="Achat" asp-route-id="@item.IdAbonnement">S'abonner</a>
                        </td>
                    </tr>
                }
                else if (ViewBag.idAbonnement == 1 || ViewBag.idAbonnement == 2 && ViewBag.expiration == true)
                {
                    if (item.IdAbonnement == 3)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomAbonnement)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrixAbonnement)
                            </td>
                            <td>
                                <a asp-action="Achat" asp-route-id="@item.IdAbonnement">S'abonner</a>
                                @*<a asp-action="Details" asp-route-id="@item.IdAbonnement">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.IdAbonnement">Delete</a>*@
                            </td>
                        </tr>
                    }
                }
            }



        </tbody>
    </table>
}



